<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="title">URL SHORTENER</h1>
    <div class="scroll-container scroll-container-submit">
        <table>
            <tr>
                <td>Information  </td>
                <td>Details</td>
            </tr>
            <tr>
                <td>Short URL</td>
                <td><a href="<%= short_url %>"><%= short_url %></a></td>
            </tr>
            <tr>
                <td>Short Code</td>
                <td><%= shortcode %></td>
            </tr>
            <tr>
                <td>Long URL</td>
                <td><a href="<%= long_url %>"><%= long_url %></a></td>
            </tr>
            <tr>
                <td>Total Click</td>
                <td><%= total_click %></td>
            </tr>
            <tr>
                <td>Last Clicked</td>
                <td><%= last_clicked %></td>
            </tr>
        </table>
    </div>
    <div class="home-page-button-div">
        <button class="home-page-button"><a class="home-submit" href="/home">Home</a></button>
    </div>
</body>
</html>